In [85]:
import os
import re
import sklearn
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter
from sklearn.metrics import *
from sklearn.linear_model import *
from sklearn.model_selection import *

pd.set_option('display.max_columns', None)

Load data file

In [86]:

kp_df=[]
years_list = [2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002]
for year in years_list:
    temp_kp_df = pd.read_csv("C:/Users/FLUXNATURE/Desktop/New Kaggle world/Ken Pom/KP" + str(year) + "_final.csv")
    temp_kp_df['Season'] = year
    year_last = year   
    if year==2020:
        kp_df = temp_kp_df
    else:
        kp_df = kp_df.append(temp_kp_df)

In [87]:
kp_df.head()

       team conf  adjem   adjo  adjd   luck  Season
0   Kansas   B12  30.23  115.8  85.5  0.040    2020
1  Gonzaga   WCC  26.95  121.3  94.4  0.050    2020
2   Baylor   B12  25.49  113.5  88.1  0.016    2020
3   Dayton   A10  24.93  119.1  94.1  0.002    2020
4     Duke   ACC  24.62  115.7  91.1 -0.009    2020

In [88]:
kp_df.tail(3)

                 team conf  adjem  adjo   adjd   luck  Season
324  Mount St. Mary's  NEC -29.36  85.1  114.5  0.019    2002
325      Morris Brown  ind -29.95  85.1  115.1  0.044    2002
326      Savannah St.  ind -31.15  78.1  109.2 -0.021    2002

In [89]:
kp_df['Season'].value_counts(dropna=False)

2019    353
2020    353
2018    351
2014    351
2015    351
2017    351
2016    351
2010    347
2013    347
2012    345
2011    345
2009    344
2008    341
2007    336
2006    334
2005    330
2002    327
2003    327
2004    326
Name: Season, dtype: int64

In [90]:
kp_df['team'] = kp_df['team'].str.lower()

Match Team IDs to data

In [91]:
teams_df = pd.read_csv('C:/Users/FLUXNATURE/Desktop/New Kaggle world/NCAAM/MTeamSpellings.csv', sep='\,', engine='python')

In [92]:
teams_df.tail()

      TeamNameSpelling  TeamID
1142     youngstown st    1464
1143    youngstown st.    1464
1144  youngstown state    1464
1145     youngstown-st    1464
1146  youngstown-state    1464

In [93]:
kp_df = pd.merge(kp_df, teams_df, left_on=['team'], right_on = ['TeamNameSpelling'], how='inner')
kp_df = kp_df.drop(['TeamNameSpelling'], axis=1)

In [94]:
kp_df['Season'].value_counts(dropna=False)

2019    340
2018    337
2017    337
2016    336
2014    336
2015    336
2013    332
2010    331
2011    330
2012    330
2009    328
2008    325
2007    321
2006    320
2005    315
2002    311
2003    311
2004    311
2020    273
Name: Season, dtype: int64

In [95]:
kp_df.tail()

                      team  conf  adjem   adjo   adjd   luck  Season  TeamID
6155              troy st.  ASun   6.15  106.9  100.8  0.105    2003    1407
6156              troy st.  ASun   0.15  104.2  104.1  0.044    2002    1407
6157  middle tennessee st.    SB   3.36  103.8  100.5 -0.006    2003    1292
6158          morris brown   ind -27.55   86.9  114.4  0.003    2003    1289
6159          morris brown   ind -29.95   85.1  115.1  0.044    2002    1289

Write the data to a csv

In [96]:
kp_df.to_csv('kp_all.csv', index=False)

In [97]:
#read_file = pd.read_excel(r'C:/Users/FLUXNATURE/Desktop/ML stuff/KP2020_final.xlsx', engine='openpyxl')

In [98]:
#read_file.to_csv(r'C:/Users/FLUXNATURE/Desktop/ML stuff/KP2020_final.csv', index= None)